<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Hello Thymeleaf</title>
</head>

<body>

    aaaabbbbgggffff
    <!-- thymeleaf側の処理、受け取った値を画面に出力する -->
    <h1 th:text="${message}"></h1>
    <!--/*javascript側の処理、ThymeleafでJavaScriptを利用する場合は、
    1. <script>要素に th:inline="javascript" を追加する。
    2. /*<![CDATA[*/ …… /*]]>*/でJavaScriptのコードを囲う。
    3. /*[[ …… ]]*/で囲うことでThymeleafから値を受け取れる。
    上記の流れで、受け取った値をアラートで出力している */-->

    <script th:inline="javascript">
        /*<![CDATA[*/
        var message2 = /*[[${message2}]]*/ 'default';

        var message = /*[[${message}]]*/ 'Sebastian';
        alert(message);
        alert(message2);
        /*]]>*/
    </script>
</body>

</html>