<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToDoシステム</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link th:href="@{/style.css}" rel="stylesheet">
</head>

<body>
    <div id="app">
        <section class="container">
            <div class="columns">
                <div class="column is-3">
                    <a v-on:click="insertModal" class="button is-primary is-block is-alt is-large">新規作成</a>
                    <aside class="menu">
                        <p class="menu-label">
                            Task
                        </p>
                        <ul class="menu-list">
                            <li><span class="tag is-success is-medium" @click="statusFilter()">全て</span></li>
                            <li><span class="tag is-warning is-medium" @click="statusFilter('新規')">新規</span></li>
                            <li><span class="tag is-primary is-medium" @click="statusFilter('対応中')">対応中</span></li>
                            <li><span class="tag is-link is-medium" @click="statusFilter('完了')">完了</span></li>
                            <li><span class="tag is-dark is-medium" @click="statusFilter('重要')">重要</span></li>
                            <!-- <li><span class="tag is-medium ">Question</span></li> -->
                            <!-- <li><span class="tag is-light is-danger is-medium ">Authentication</span></li> -->
                        </ul>
                    </aside>
                </div>
                <div class="column is-9">
                    <div class="box content" v-for="(tdObj,index) in todoList">
                        <!-- トップページにタイトルやメッセージを取得している -->
                        <article class="post"
                            @click="updateModal(tdObj.id,tdObj.title, tdObj.message, tdObj.member_id)">
                            <h4>{{tdObj.title}}</h4>
                            <div class="media">
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <a href="#">{{tdObj.assin_user}}</a> {{tdObj.updated_time}} &nbsp;
                                            <span class="tag is-medium" v-bind:class="{
                                                'is-warning': tdObj.status === '新規',
                                                'is-primary': tdObj.status === '対応中',
                                                'is-link': tdObj.status === '完了',
                                                'is-dark': tdObj.status === '重要'
                                            }">{{tdObj.status}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal" v-bind:class="{ 'is-active': isModalActive }">
            <div class="modal-background"></div>
            <form class="modal-card" v-bind:action="(taskId === 0) ? '/insert_task' : '/update_task'" method="post"
                id="target">
                <input th:name="${_csrf.parameterName}" type="hidden" th:value="${_csrf.token}" />
                <input type="hidden" v-model="taskId" name="task_id">
                <header class="modal-card-head">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Task.{{taskId}}</label>
                        </div>
                        <div class="field-head">
                            <div class="field">
                                <div class="control" style="position: absolute; right: 15px; top: 15px">
                                    <button class="delete" type="button" v-on:click="isModalActive = false"
                                        aria-label="close"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <section class="modal-card-body">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">主題</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text" placeholder="タイトルを入力してください" name="taskTitle" v-model="modalTitle">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">詳細</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <textarea class="textarea" v-model="modalDescription" name="description"
                                        placeholder="タスクの詳細を記入">{{modalDescription}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">担当者</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select name="member_id" v-model="modalUserId" options="items">
                                            <option v-for="(usObj) in userList" v-bind:value="usObj.id">{{usObj.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">ステータス</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" name="status" value="新規" checked="checked">
                                        <span class="tag is-warning is-medium ">新規</span>
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="status" value="対応中">
                                        <span class="tag is-primary is-medium ">対応中</span>
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="status" value="完了">
                                        <span class="tag is-link is-medium ">完了</span>
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="status" value="重要">
                                        <span class="tag is-dark is-medium ">重要</span> </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button type="submit" v-bind:disabled="!modalTitle || !modalDescription"
                        class="button is-success">{{(taskId === 0) ? '新規作成' : '更新'}}</button>
                    <button type="button" v-on:click="isModalActive = false" class="button">閉じる</button>
                </footer>
            </form>
        </div>
    </div>
    <script th:src="@{/script.js}"></script>
</body>
</html>